 body {
    font-family: 'Hind Kochi', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Hind Kochi', sans-serif;
    margin: 0;
    padding: 0;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

 header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: #f8f8f8;
    border-bottom: 2px solid #ccc;
    animation: fadeInUp 1s ease-out 0s 1 normal both;
}

.logo {
    font-size: 3rem;
    margin: 0;
    cursor: pointer;
}
a {
    text-decoration: none;  
    color: black;           
}

a:visited {
    text-decoration: none; 
    color: black;          
}
nav {
    background-color: #f8f8f8;
    padding: 0%;
    min-height: 20px;
    margin-top: 0%;
    font-size: 1.3rem;
}

.navmenu {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navmenu li {
    opacity: 0;
    animation: fadeInUp 0.5s ease-out 1 normal both;
}

.navmenu > li:hover .submenu {
    display: block;
    position:absolute;
}
.navmenu li:nth-child(1) {
    animation-delay: 0.5s; /* Delay 0.5s after the header appears */
}
.navmenu li:nth-child(2) {
    animation-delay: 0.65s; 
}
.navmenu li:nth-child(3) {
    animation-delay: 0.8s;
}

.menu {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: 0.3s;
}

.menu:hover {
    background: #d6d6d6;
}
.submenu {
    display: none;
    position: absolute;
    right: 0;      
    top: 100%;     
    background: #f5f5f5;
    min-width: 200px;
    font-size: 1.3rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
    color: rgb(0, 0, 0);
}
.preguntas-section {
    padding: 40px 20px;
    background-color: #f0f0f0;
}
.box {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.contactanos {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px 0;
    font-size: 1.5rem;
    cursor: pointer;
}
.boton {
    display: flex;
    justify-content: center;
}
.boton-cnt {
    display: inline-block;
    position: relative;
    padding: 10px 20px;
    background-color: #22bee6;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    top: 25px;
}